*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/.toolchain_build_ver
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/target/linux/feeds
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
/llvm-bpf*
key-build*
private-key.pem
public-key.pem
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*


include/package-pack.mk
package/base-files/files/bin/config_generate
package/base-files/files/etc/banner
package/base-files/files/etc/board.d/99-default_network
package/base-files/files/etc/rc.button/reset
package/base-files/files/sbin/sysupgrade
package/boot/uboot-mvebu/Makefile
package/boot/uboot-mvebu/patches/101-net-mvpp2-fix-10GBase-R-support.patch
package/boot/uboot-mvebu/patches/102-arm-mvebu-add-support-for-MikroTik-RB5009UG-S-IN.patch
package/kernel/linux/modules/netsupport.mk
package/kernel/linux/modules/usb.mk
package/libs/libnftnl/Makefile
package/network/ipv6/6in4/Makefile
package/network/ipv6/6in4/files/6in4.sh
package/network/services/dnsmasq/files/dnsmasq.init
package/network/utils/nftables/Makefile
package/system/opkg/files/customfeeds.conf
target/linux/bcm27xx/image/Makefile
target/linux/bcm27xx/image/cmdline.txt
target/linux/generic/config-6.6
target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
target/linux/mediatek/filogic/base-files/etc/board.d/02_network
target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
target/linux/mediatek/image/filogic.mk
target/linux/x86/64/config-6.6
target/linux/x86/config-6.6
target/linux/x86/generic/config-6.6
target/linux/x86/geode/config-6.6
target/linux/x86/legacy/config-6.6
tools/Makefile
tools/dwarves/Makefile
.config.keep
include/bpf_mptcp.mk
package/base-files/files/etc/version
package/boot/uboot-ipq40xx/
package/firmware/linux-firmware/netxen.mk
package/kernel/mwlwifi/patches/999-fix-compilation.patch
package/libs/libnftnl/patches/
package/modems/
package/network/config/firewall/patches/
package/network/config/firewall4/patches/
package/network/services/dnsmasq/patches/999-remove-nftset-logs.patch
package/network/utils/nftables/patches/
package/network/utils/wwan/files/data/05c6-9215
package/network/utils/wwan/files/data/2c7c-0121
package/network/utils/wwan/files/data/2c7c-0296
package/network/utils/wwan/files/data/2c7c-0306
package/network/utils/wwan/files/data/2c7c-0512
package/utils/sysupgrade-helper/
package/utils/wmt/
scripts/mkits-rutx.sh
scripts/mkits-tlt-rutx-fit.sh
target/linux/bcm27xx/patches-6.6/999-dts-add-hogs-on-CM5.patch
target/linux/generic/hack-6.6/997-BBRv3.patch
target/linux/generic/hack-6.6/998-ndpi-hook.patch
target/linux/generic/hack-6.6/999-mptcp-bpf.patch
target/linux/mediatek/dts/mt7981b-zbt-z8102ax-128m.dts
target/linux/mediatek/dts/mt7981b-zbt-z8102ax-64m.dts
target/linux/mediatek/dts/mt7981b-zbt-z8102ax-eMMC.dts
target/linux/mediatek/dts/mt7981b-zbt-z8102ax.dtsi
target/linux/mediatek/dts/mt7981b-zbt-z8109ax-128m.dts
target/linux/mediatek/dts/mt7981b-zbt-z8109ax-512m.dts
target/linux/mediatek/dts/mt7981b-zbt-z8109ax.dtsi
target/linux/qualcommax/patches-6.6/0170-clk-qcom-ipq8074-Support-added-for-necessary-clocks-and-reset.patch
target/linux/qualcommax/patches-6.6/0171-1-clk-qcom-ipq8074-Fix-gcc_snoc_bus_timeout_ahb_clk-offset.patch
target/linux/qualcommax/patches-6.6/0171-2-clk-qcom-ipq8074-Fix-gcc_blsp1_ahb_clk-properties.patch
target/linux/qualcommax/patches-6.6/0600-1-qca-nss-ecm-support-CORE.patch
target/linux/qualcommax/patches-6.6/0600-2-qca-nss-ecm-support-PPPOE-offload.patch
target/linux/qualcommax/patches-6.6/0600-3-qca-nss-ecm-support-net-bonding.patch
target/linux/qualcommax/patches-6.6/0600-4-qca-nss-ecm-support-net-bonding-over-LAG-interface.patch
target/linux/qualcommax/patches-6.6/0600-5-qca-nss-ecm-support-macvlan.patch
target/linux/qualcommax/patches-6.6/0600-7-qca-nss-ecm-fix-IPv6-user-route-change-event-calls.patch
target/linux/qualcommax/patches-6.6/0601-1-qca-add-nss-bridge-mgr-support.patch
target/linux/qualcommax/patches-6.6/0602-1-qca-nss-drv-add-qdisc-support.patch
target/linux/qualcommax/patches-6.6/0603-1-qca-nss-clients-add-qdisc-support.patch
target/linux/qualcommax/patches-6.6/0603-2-qca-nss-clients-add-l2tp-support.patch
target/linux/qualcommax/patches-6.6/0603-3-qca-nss-clients-add-PPTP-support.patch
target/linux/qualcommax/patches-6.6/0603-4-qca-nss-clients-add-iptunnel-support.patch
target/linux/qualcommax/patches-6.6/0603-5-qca-nss-clients-add-vxlan-support.patch
target/linux/qualcommax/patches-6.6/0603-6-qca-nss-clients-add-l2tp-offloading-support.patch
target/linux/qualcommax/patches-6.6/0603-7-qca-nss-clients-iptunnel-lock-this-cpu.patch
target/linux/qualcommax/patches-6.6/0603-8-qca-nss-clients-add-tls-mgr-support.patch
target/linux/qualcommax/patches-6.6/0605-1-qca-nss-cfi-support.patch
target/linux/qualcommax/patches-6.6/0611-ipv6-Fix-null-pointer-dereference-in-ipv6-output.patch
target/linux/qualcommax/patches-6.6/9999-revert-crypto-api-disallow-identical-driver-names.patch
target/linux/qualcommax/patches-6.6/9999-silence-UBI-NAND-warnings.patch

